body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #3333cc;
}

a {
    margin: 0 10px;
    text-decoration: none;
    color: #0066cc;
}

